:root {
	--noise: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 310' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
	--search-icon: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNi4wIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjQgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZD0iTTUwNSA0NDIuN0w0MDUuMyAzNDNjLTQuNS00LjUtMTAuNi03LTE3LTdIMzcyYzI3LjYtMzUuMyA0NC03OS43IDQ0LTEyOEM0MTYgOTMuMSAzMjIuOSAwIDIwOCAwUzAgOTMuMSAwIDIwOHM5My4xIDIwOCAyMDggMjA4YzQ4LjMgMCA5Mi43LTE2LjQgMTI4LTQ0djE2LjNjMCA2LjQgMi41IDEyLjUgNyAxN2w5OS43IDk5LjdjOS40IDkuNCAyNC42IDkuNCAzMy45IDBsMjguMy0yOC4zYzkuNC05LjQgOS40LTI0LjYgLjEtMzR6TTIwOCAzMzZjLTcwLjcgMC0xMjgtNTcuMi0xMjgtMTI4IDAtNzAuNyA1Ny4yLTEyOCAxMjgtMTI4IDcwLjcgMCAxMjggNTcuMiAxMjggMTI4IDAgNzAuNy01Ny4yIDEyOC0xMjggMTI4eiIvPjwvc3ZnPg==);
	--drop-down: <svg class="drop-down-bar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" ><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" /></svg>;
	--pref-white: #dedede;
	--bg-color: #141414;
	--bg-color-2: #0e0e0e;
	--bg-color-light: #c4c4c4;
	--starfleet-blue: #0096ff;
	--search-icon-color-light: #323232;
	--search-icon-color-dark: #c6c6c6; 
	--stanger-red: #a40000;
	--spring-green: #00ff7c;
	--spicy-red: #ff1111;
	/* #dd0022 #ee1100 #e8e8e8  4433ff 006169  fd0f35(√) #00bffe(✓) #fd0d35*/
	--caret: <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" ><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>;
	--refresh: <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" ><path d="M125.7 160l50.3 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L48 224c-17.7 0-32-14.3-32-32L16 64c0-17.7 14.3-32 32-32s32 14.3 32 32l0 51.2L97.6 97.6c87.5-87.5 229.3-87.5 316.8 0s87.5 229.3 0 316.8s-229.3 87.5-316.8 0c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0c62.5 62.5 163.8 62.5 226.3 0s62.5-163.8 0-226.3s-163.8-62.5-226.3 0L125.7 160z"/></svg>
}

@font-face {
	font-family: Aptos;
	font-weight: normal;
	src: url("fonts/Aptos-fonts/Aptos.ttf");
}

@font-face {
	font-family: Aptos-semi;
	font-weight: semi-bold;
	src: url("fonts/Aptos-fonts/Aptos-Semibold.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body {
	background-color: var(--bg-color);
	position: fixed;
	font-family: Aptos-semi;
	color: #d2d2d2;
}

header {
	width: 100%;
	display: grid;
	grid-template: 40px 45px/ 1fr;
	position: sticky;
	background-color: inherit;
	top: 0;
	z-index: 99999999;
	transition: all .5s ease-out;
 }

.header-A {
	background-color: inherit;
	grid-row: 1;
	position: relative;
}

.header-A .drop-down-bar {
	height: 55%;
	width: 5%;
	position: absolute;
	top: 20%;
	left: 5px;
}

.header-A .notification {
	height: 49%;
	width: 5%;
	position: absolute;
	top: 22%;
	right: 38px;
}

.header-A .exit {
	height: 55%;
	width: 5%;
	position: absolute;
	top: 20%;
	right: 10px;
}

.header-B {
	height: 100%;
	background-color: var(--bg-color);
	grid-row: 2;
	margin-left: 5px;
	text-indent: 15px;
	color: #d0d0d0;
	align-content: center;
}

.header-B .search-bar {
	display: none;
	grid: 1fr / 1fr 35px 40px;
	column-gap: 2px;
	border-radius: 20px;
	background-color: #2c2c2c;
	width: 70%;
	height: 90%;
}

.header-B .search-bar #search-form {
	border-radius: inherit;
	background-color: transparent;
	color: #d2d2d2;
	font-size: 1.01rem;
	vertical-align: center;
	text-indent: 15px;
}

#search-form:focus {
	outline: none;
	border: none;
}

#search-form::placeholder {
	color: #868686;
	/* font-style: italic; */
}

#search-reset {
	height: 35px;
	align-self: center;
	background-color: transparent;
	border-radius: 50%;
}

#search-button {
	height: 35px;
	align-self: center;
	margin-right: 4px;
	border-radius: 50%;
	background-color: var(--starfleet-blue);
}

#search-button {
	fill: #d2d2d2;
}

.header-C {
	display: none;
	background-color: none;
	grid-row: 3;

}

.landing-page {
	height: calc(100vh - 42px);
	height: max(calc(100dvh - 42px), 512px);
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	position: relative;
	z-index: 9999;
	backdrop-filter: blur(10px);
	/* mix-blend-mode: ; */
	filter: brightness(1.01);
	overflow: hidden;
}

.landpage-graphic {
	height: 100%;
	min-height: 256px;
	width:  100%;
	min-width: fit-content;
}

@media (min-width: 620px) {
	.landpage-graphic {
		//display: none;
	}
}

.landpage-graphic svg {
	fill: var(--pref-white);
	height: 100%;
	width: 100%;
	background-color: transparent;
	fill: var(--pref-white);
	stroke: none;
	display: absolute;
}

.landpage-graphic svg #path-space {
	fill: var(--bg-color);
}
/* svg */
#shape-struct,
#shape-shades,
#shape-holes {
	fill: blue;
	stroke-width: 0;
}

#shape-shades #m-sh {
	fill: url(#m-gradient)
}

#shape-shades #g-sh {
	fill: url(#g-gradient)
}

svg #shape-holes {
	fill: var(--bg-color);
}